.houdini-example {
}

.houdini-example header {
  margin-bottom: 1em;
}

.houdini-example header .meta {
  display: flex;
}

.houdini-example header .meta > *:not(:first-child) {
  margin-left: 1em;
}

.houdini-example header h2 {
  margin-bottom: 0.5em;
  position: relative;
}

.houdini-example header h2::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 40px;
  height: 5px;
  background: orange;
  content: '';
}

.houdini-example header span {
  font-size: 0.6em;
  opacity: 0.7;
}
